# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2022+ cache/options directory
.vs/
.vscode/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/bin/Debug/netcoreapp*
**/bin/Release/netcoreapp*

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
*.user
*.msscci
*.cache
*.crash
*.log
*.dll
*.exe
*.ppt
*Resharper*
*ReSharper*
*.resharper
*TeamCity*
*.dotCover

# Tooling
_ReSharper.*/
*.resharper
*.TestResults
*.rd
*.xdr

# dotnet core specific
**/[Dd]ebug/netcoreapp*
**/[Rr]elease/netcoreapp*
**/[Dd]ebug/netstandard*
**/[Rr]elease/netstandard*
**/.vscode
*.nuget.targets
*.nuget.props
orleans.codegen.cs

# Since there are multiple workflows, uncomment next line to ignore bower_components 
# (https://bower.io/)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio LightSwitch build output
**/GeneratedArtifacts
**/ModelManifest.xml

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/
*.code-workspace

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# ASP.NET WebProjectProperties
web.config

# Others
client_secrets.json
*.csproj.user
*.pubxml
*.pubxml.user